/*give a font and font weight to entire page*/
body {
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*give header set height and width 100%, set background color*/
.header {
    height: 100px;
    width: 100%;
    background-color: black;
}

/*
    navbar will be a inline-flex container, take full width and 
    height, align items horizontally

*/
.header .navbar {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

/*align text vertically by making each p element a flex container*/
.navbar p {
    display: flex;
    align-self: center;
}

/* links will not be underlined, set color, set font size*/
.navbar a {
    text-decoration: none;
    color: #00feff;
    font-size: 2em;
}

/*
    motivation section
    set width and height of container in relative units, 
    position relative,
    center text
*/
.motivation {
    width: 100%;
    height: 47.375em;
    position: relative;
    text-align: center;
}

/*set image to size of container*/
.motivation img {
    width: 100%;
    height: 100%;
}

/*
    text within img
    set position to absolute within container and change its 
    position
    set color, font size, font family, font weight
*/
.motivation p{
    font-family: 'Ephesis', cursive;
    font-size: 2.5em;
    font-weight: 400;
    color: #00feff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*set margins and height of container*/
.journey {
    margin: 5em 0px;
    height: 40em;
}

/*
    align text to the center, set font size and margins using relative
    units
*/
.journey h1{
    text-align: center;
    font-size: 3em;
    margin: 1.70em 0em;
}

/*
    make content into a flex container, set width to 100% and height
    to 80% of parent container, content is horizontally and 
    vertically centered
*/
.journey-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
    height: 80%;
}

/*
    set img width to 30% and height to 70% of container dimensions    
*/
.journey-content img {
    width: 30%;
    height: 70%;
}

/*make p elements into flex containers to center easily, set font size*/
.journey-content p {
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.5em;
}

/*create container dimensions and add margins*/
.training {
    margin: 5em 0em;
    height: 48.4em;
    width: 100%;
}
/*align element to the center, set sont size and margins*/
.training h1 {
    text-align: center;
    font-size: 3em;
    margin: 1.70em 0em;
}

/*
    set content to be a flex container, set width and height of 
    container, let flex items wrap, center horizontally and vertically
*/
.training-content {
    width: 100%;
    height: 40em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

/* set images to be 40% width and 90% height of parent container*/
.training-content img {
    width: 40%;
    height: 90%;
}

/*
    set text under images too be 40% to align 
    set p elements to be flex containerrs to center easily
*/
.training-content p {
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
}
